/EjerciciosJava/nbproject/private/
/Civitas/nbproject/private/
*.class
/JavaApplication3/nbproject/private/
/Civitas/build/
/ejercicios/nbproject/private/
/ejercicios/build/
/teoria/02_Java_AtributosMetodos/nbproject/private/
/teoria/Civitas/nbproject/private/
/teoria/p2/nbproject/private/
/teoria/practica2sesion2/nbproject/private/
/practica2sesion2/nbproject/private/
/practica2/practica2sesion2/nbproject/private/
/practica2/practica2sesion2/build/
/teoria/p2s1/nbproject/private/
/teoria/p2s1/dist/
/teoria/p2s1/build/
/practica2/p2s1/nbproject/private/
/practica1/p1s1/nbproject/private/
/practica1/p1/nbproject/private/
